body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3258d4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.brand-logo {
    object-fit: cover;
}

.brandname {
    color: #2571eb;
    font-weight: 800;
    font-size:100px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #E9F0FF;
}

.logincard {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    padding: 2rem;
    width: 650px;
    height: 600px;
}

@media (min-width: 768px) {
    .login-card {
        padding: 3rem;
    }
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #1f2937;
}

.form-group {
    margin-bottom: 1.5rem;
}

.formlabel {
    display: block;
    color: #374151;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.forminput {
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d1e3fe;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0.75rem 1rem;
    color: #374151;
    line-height: 1.25;
    outline: none;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.5);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.verify-button {
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition-property: background-color, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.verify-button:hover {
    background-color: #1d4ed8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.verify-button:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}
