@import 'tailwindcss';
.hostbody{
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 139, 238);
    width: 100%;
    height: 150px;
}
body{
}

.navi{
    background-color: rgba(255, 255, 255, 0.899);
    display: flex;
    justify-content: flex-start;
    h2{
        color: cornflowerblue;
        font-size: 60px;
        font-weight: 800;
    }
    width: 100%;
    height: 130px;
    text-align: center;
}
.hh{
    text-align: center;
    padding-top: 30px;
    font-size:clamp(20px,2vw,65px);
  
    font-weight: 800;
    color: white;
}
.formpart{
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute ;
}
.formbody{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:clamp(1000px,50vw,1300px);
    height: 1000px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.361);
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
#first,#last,#email,#mobile{
    background-color: #E9F0FF;
    width:clamp(100px,30vw,500px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.129);

}
#textarea{
    width:clamp(100px,20vw,500px);
    height:clamp(20px,10vw,300px);
    background-color: white;
    height: 300px;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    position: relative;
}
.buttondivs{
    display: flex;
    flex-direction: row;
    gap:20px;
    color: white;
    gap:clamp(4px,2vw,20px);
}
