/* General reset */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #e8f0ff;
}

/* Container */
.main-wrapperr {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header */
.headerr {
    background-color: white;
    border-bottom: 2px solid #a4bcff;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    h1{
        font-size: 80px;
        font-weight: 700;
    }
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
    margin-right: 8px;
}

.logo-text {
    color: #597ef7;
    font-weight: 700;
    font-size: 20px;
}

/* Content Area */
.contents{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.heading {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    
    color: #000000d9;
    margin-bottom: 60px;
}

/* Buttons */
.button-groups {
    display: flex;
    gap: 50px;
}

.action-button {
    background-color: #6d8dfc;
    color: white;
    width: 500px;
    font-weight: 700;
    font-size: 18px;
    padding: 30px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 200px;
    height: 600px;
}

.action-button:hover {
    background-color: #5478f2;
}